<html lang="en">
    <head>
        <title>Shop T-Shirts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h4 class="c1">Add a Product</h4>
        <center>
        <form action="/AddData" method="post">
            <label>Product Id: </label>
            <input type="number" placeholder="Enter product Id" name="pid"><br>
            <label>Brand: </label>
            <input type="String" placeholder="Enter brand name" name="brand"><br>
            <label>Colour: </label>
            <input type="String" placeholder="Enter colour" name="colour"><br>
            <label>Size: </label>
            <input type="String" placeholder="Enter size" name="size"><br>
            <label>Fabric: </label>
            <input type="String" placeholder="Enter type of fabric" name="fabric"><br>
            <label>Length: </label>
            <input type="String" placeholder="Enter length" name="length"><br>
            <label>Type: </label>
            <input type="String" placeholder="Enter type" name="type"><br>
            <label>Price: </label>
            <input type="number" placeholder="Enter price" name="price"><br>
            <label>Stock: </label>
            <input type="number" placeholder="Enter quantity" name="stock"><br>
            
            <br>
            <button type="submit">submit</button>
        </form>
        <a href="/" class="c2">Back to Home</a>
        </center>
    </body>
</html>